@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0,0,0;
  --background-end-rgb: 10,4,36;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* .swiper */
.swiper-button-prev:after, .swiper-button-next:after{
  color: #fff;
  font-size: medium !important;
}

.swiper-pagination-bullet-active{
  background: #fff !important;
}

.swiper-pagination-bullet{
  background: #d3d3d3 !important;
}